requests==2.31.0            # For making HTTP requests
lxml==4.9.3                 # For XML parsing
pandas==2.1.2               # For data manipulation and structuring
tqdm==4.67.1                # For a progress bar
beautifulsoup4==4.12.2      # For HTML parsing
selenium==4.12.0            # For browser automation
webdriver_manager==4.0.2    # For managing browser drivers
inflect==5.3.0              # For transforming numbers into words
networkx==2.6.1             # For graph manipulation
joblib==1.1.0               # For parallel processing
setuptools
dateparser==1.1.0           # For parsing dates
geopy
pycountry